{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block page_content %}
    <table class="table table-bordered">
{#    <tr>#}
{#        <th>用户ID</th>#}
{#        <th>公司ID</th>#}
{#        <th>公司名称</th>#}
{#        <th>联系电话</th>#}
{#        <th>联系邮箱</th>#}
{#        <th>用户姓名</th>#}
{#        <th>所属公司</th>#}
{#    </tr>#}
        {% for i in range(lenth) %}
            <tr>
                <td>{{ keys[i],values[i] }}</td>
{#                <td>{{ u[2] }}</td>#}
{#                <td>{{ u[3] }}</td>#}
{#                <td>{{ u[4] }}</td>#}
{#                <td>{{ u[5] }}</td>#}
            </tr>
        {% endfor %}
    <img border="0" src={{ img_path }} alt="picture" width="300" height="300">
    </table>

{% endblock %}