{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block page_content %}
    <table class="salary">
        <img border="0" src={{ img_path }} alt="picture" width="900" height="500">
        {% for i in range(lenth) %}
            <tr>
                <td>{{ keys[i],values[i] }}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="frequency">
        <img border="0" src={{ freq_img_path }} alt="picture" width="900" height="500">
        {% for f in range(freq_lenth) %}
            <tr>
                <td>{{ freq_keys[f],freq_values[f] }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}